<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>User info</h1>


<!--ここを入れるとエラー-->
<%= image_tag @user.get_profile_image(100,100) %>

  <p>画像</p>
  <% if profile.image.attached? %>
    <%= image_tag profile.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

  <p>画像</p>
  <%= image_tag @user.image, size: "200x200" %>
<!--ここまで-->


<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>

  <% if @user == current_user %>
    <p><%= link_to "編集",  edit_user_path(@user.id) %></p>
  <% end %>



  <% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>

  <p>Opinion</p>
  <span><%= book.body %></span>

<% end %>




